<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>665033539649-b4ihbmmm03ed8a4pauk5mg2tg0n471gp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.665033539649-b4ihbmmm03ed8a4pauk5mg2tg0n471gp</string>
	<key>API_KEY</key>
	<string>AIzaSyCgDToijvH93UzQAJl80k2TFLTBnH03Jiw</string>
	<key>GCM_SENDER_ID</key>
	<string>665033539649</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.maslaBoloApp</string>
	<key>PROJECT_ID</key>
	<string>maslabolo</string>
	<key>STORAGE_BUCKET</key>
	<string>maslabolo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:665033539649:ios:9b41da0ec35187760946c0</string>
</dict>
</plist>